@import 'fonts/font.css';

html {
  /* background-image: url(../image/cocktail-bg.png); */
  background-size: cover;
  background-attachment: fixed;
  font-family: MontAxtraLight;
}

body {
  margin: 0px;
  padding: 0px;
}
